<!DOCTYPE html>
<html>
<%= stylesheet_link_tag 'login' %>



    <p><%= flash[:error] %></p>

<div class="full-container">

        <div class="login-container">
        <h3 class="login-title">Login!</h3>
            <%= form_for(:user) do |f| %>

            <div class="input-group">
                <%= f.label :username %>
                <%= f.text_field :username %>
            </div>
            <br>

            <div class="input-group">
                <%= f.label :password %>
                <%= f.password_field :password %>
            </div>
            <br>

                <%= f.submit "Login", class: "login-button" %>

            <% end %>
            <center><br>or<br>
            <%= link_to "Sign in with Google", "/auth/google_oauth2" %></center>
                </div>
</div>
</html>