<h3><%= link_to "Add a new review", new_review_path %></h3>
<% if @meal %>
<h1>View all reviews for</h1>
<%= @meal.name %>!
else
    <h1>View all review!</h1>
    <% end %>

<% @reviews.each do |r| %>
    <h2><%= r.meal.name %></h2>
    <h2><%= r.title %> - <%= r.stars %> </h2>
    <p> <%= r.content %> </p>
    <% end %>

